hr{
  margin: 0.5rem 0;
  border-bottom: 0;
  border-top:1px solid rgba(0,0,0,.1);
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
body {
  background-size: 100%;
  background-attachment: fixed;
  z-index: -1;
  background-repeat: no-repeat;
  background-image: url("../../assets/bg.png");
}
@media (max-width: 426px) {
  body {
    background-image: url("../../assets/bgS.png");
  }
}
