.survey {
  label {
    font-size: 1.2rem;
  }

  form {
    margin-top: 5vw;
    border: 1px dashed #b71c1c;
    padding: 20px;
  }

  .row {
    padding: 0;
  }

  .buttons {
    margin-top: 15px;
  }

  [type="radio"]:checked+span:after, [type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #1a237e;
    background-color: #1a237e;
  }

  &-field{
    .error{
      color: #b71c1c;
      padding: 10px;
      font-size: 1rem;
    }
  }
}

.questions{
  button{
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }
  margin-top: 5vw;
  border: 1px dashed #b71c1c;
  background-color: white;
}

@media (max-width: 426px) {
  .survey {
    form {
      margin-top: 35vw;
    }
  }
  .questions{
    margin-top: 35vw;
  }
}
